@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1.05rem;
}

.cont1{
    min-height: fit-content;
    padding: 2px 2% 2px 2%;
    background-color: black;
}
.cont2{
    min-height: 50%;
    background-color: rgb(0, 98, 255);
    padding: 2% 4% 2% 6%;
    border-radius: 8px;
}
.cont3{
    min-height: 57.599vh;
    background-color: rgb(70, 70, 70);
    margin: 2px 2% 2px -2%;
    border-radius: 8px;
    padding: 2% 0 2px 2%;
    border: 2px solid rgb(4, 0, 255);
    box-shadow: 10px 10px 10px rgb(4, 0, 255);
    text-align: center;
}

.cont1-a{
    margin: 2% 0 2% 0;
    font-size: 1.5em;
    font-family: 'Quantico', sans-serif;
}

.cont2head{
    margin-bottom: 2%;
    font-size: 1.3em;
}

.cont3-a{
    color: greenyellow;
    margin-top: 1%;
}

.inp{
    text-align: center;
    margin-top: 60px;
}

.url-holder{
    padding: 0 20px 4px 10px;
    min-width: 20%;
    border-radius: 5px;
}

.foot{
    color: grey;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.submit{
border-radius: 3px;
background-color: rgb(0, 98, 255);
padding: 0 20px 0 20px;
border: 0.5px solid grey;
}

.inpt{
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.822);
    top: 0;	
}
.inpi{
	border: 3px solid rgb(47, 0, 255);
    position: fixed;
    border-radius: 3px;
	top: 50%;
	right: 50%;
	margin: -105.5px -177.75px 0 0 ;
	background-color: white;
    padding: 2em;
    background-color: rgb(46, 45, 45);    
}
.inpb{
    margin: 0.75em;
    background-color: blue;
    border: 0px solid black;
    border-radius: 3px;
    padding: 1px 10px 0px 10px;
}

.inpl{
    display: none;
}

.inpt textarea{
    background-color: rgb(14, 14, 14);
    color: white;
    padding: 10px;
    resize: none;
    height: 10em;
}

.inpt #L{
    position: absolute;
    top: 9%;
}

.inpt .submit{
    position: absolute;
    left: 40%;
    margin-top: 2%;
    margin-bottom: 7%;
}

.inpt .pickerg{
    border: none;
}